@font-face {
  font-family: title-font;
  src: url(/src/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: content-font;
  src: url(/src/assets/fonts/Roboto-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: content-font;
  scroll-behavior: smooth;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
